@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');


.shrikhand{
    font-family: 'Shrikhand', cursive;
}
.roboto{
    font-family: 'Roboto';
}
.icon, i{
    font-family: 'Material Icons';
    cursor: pointer;   
}

.section__title{
    font-size: 24px;
    font-weight: 600;
}