/*----- Color variables ------*/

        $yellow: #E5CB8A;
        $anthracite: #1C1A19;
        $mainboard: #201E1D;
        $mainboardtransparent: #201e1db9;
        $border: #4c4431;
        $brown: #2D241F;
        $browntransparent: #2d241fb2;
        $gray1: #f6f6f6;
        $gray2: #eaeaea;
        $gray3: #353535;

/*----- shadows -----*/
        
        $shadow: 2px 2px 10px rgba(0, 0, 0, 0.171);
        $shadowlift: 2px 2px 10px rgba(0, 0, 0, 0.255);

/*----- borders -----*/

        $cardradius: 20px;
        $innerRadius20: 20px;

