@import '../abstracts/variables.scss';

body{
    background-color: #1C1A19;
}

header{
    width: 100%;
    position: relative;
}
.bandeauBox{
    width: 100%;
    opacity: 0.03;
}
.macaron{
    aspect-ratio: 1/1;
    top: 2vw;
    bottom: 2vw;
    right: 2vw;
    border-radius: 50%;
    position: absolute;    
}
.shadowDisk{
    border-radius: 50%;
    background: radial-gradient(circle, transparent 0%,  rgb(0, 0, 0) 98%, black 100%);
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.macaron img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
}

.infoBox{
    position: absolute;
    bottom: 0;
    left: 7%;
}
.infoBox *{
    font-family: 'Work Sans', sans-serif;
    font-size: max(12px, 2vw);
    color: white;
    font-weight: 200;
    letter-spacing: 1px;
}

.carineLeduc{
    font-family: 'Fleur De Leah';
    font-size: max(35px, 8vw);
    color: $yellow;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6%;
    z-index: 10;
}
.carineLeduc p{
    position: absolute;
    font-size: max(12px, 1.4vw);
    font-weight: 200;
    font-family: 'Work Sans';
    width: 100%;
    left: 40%;
    top: 90%;
}
@media (max-width: 649px) {
    .infoBox{
        bottom: 0;
        transform: translateY(100%);
    }
}
@media (min-width: 650px) {
    .infoBox{
        bottom: 0;
    }
}
main{
    position: relative;
    padding: 6.5vw 0;
    display: flex;
    justify-content: center;
}

.mandalaBox{
    width: 20%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -15%);
    opacity: 0.2;
    z-index: -1;
}

.mainBoard{
    width: min(96%, 1500px);
    min-height: 100vh;
    background-color: $mainboard;
    padding: max(5px, 5vw);
    border: 1px solid $border;
    border-radius: 30px;
    position: relative;
}
.mainSectionIntro{
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.fleurBox{
    margin-right: max(20px, 5vw);
    border-radius: 50%;
    width: 600px;
    overflow: hidden;
}
.fleurBox img{
    width: 100%;
    height: 100%;
}

.introText{
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: max(18px, 1.5vw);
    font-weight: 100;
}
.address{
    width: max(50%, 200px);
    color: $yellow;
    font-size: clamp(14px, 2vw, 24px);
    font-weight: 100;
    margin-top: 10px;
}
.mandanaBox{
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: -1;
}